.wrapper {
    display: flex;
    width: 100%;
    padding: 20px;
    height: 200px;
    border-bottom: 3px solid #000;

    &__image {
        flex: 30%;
    }

    &__description {
        flex: 60%;

        &__text {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        flex: 10%;

        &__controls {
            display: flex;
            justify-content: end;

            &__edit {
                margin-right: 10px;
            }

            &__booking {
                margin-top: auto;
            }
        }


    }
}