.label-default {
    border-top: 2px solid #F8EBA1;
    border-bottom: 2px solid #F8EBA1;
}

.header-label {
    font-size: 1.5em;
    font-weight: 500;
}

.card-label {
    font-size: 1em;
    font-weight: 500;
}